@model IEnumerable<Payroll>
@using NonFactors.Mvc.Grid

@{
    ViewBag.Title = "DoDetailPayrollOfEmployee";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 style="text-align:center">CHI TIẾT BẢNG LƯƠNG</h2>

<div>
    @(Html
        .Grid(Model)
        .Build(column =>
        {
            column.Add(m => m.EmployeeName).Titled("Tên nhân viên").Sortable(false).Filterable(false);
            column.Add(m => m.BasicSalary).Titled("Lương cơ bản").Sortable(false).Filterable(false);
            column.Add(m => m.WorkDay).Titled("Số ngày/giờ làm việc").Sortable(false).Filterable(false);
            column.Add(m => m.Bonus).Titled("Thưởng").Sortable(false).Filterable(false);
            column.Add(m => m.Penalty).Titled("Phạt").Sortable(false).Filterable(false);
            column.Add(m => m.Total).Titled("Tổng lương").Sortable(false).Filterable(false);
            column.Add(m => m.Currency).Titled("Đơn vị").Sortable(false).Filterable(false);
            column.Add(m => m.Desc).Titled("Ghi chú").Sortable(false).Filterable(false);
            column.Add(m => m.AddedOn).Titled("Ngày tạo bảng lương").Sortable(false).Filterable(false);
        })
        .Sortable()
        .Empty("Không có dữ liệu")
        .Filterable()
    )
</div>
<br />
<div class="row">
    <div class="col-md-8">
        @Html.ActionLink("Trở về", "DetailPayrollOfEmployee", "Accountant")
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Chỉnh sửa", "EditPayrollOfEmployee", "Accountant", new { PayrollID = @ViewData["payrollID"] }, new { @class = "btn btn-sm btn-outline-primary" })
    </div>
</div>
