@using NonFactors.Mvc.Grid
@model ManagerCoffeeShopASPNet.Receipt

@{
    ViewBag.Title = "CreateReceipt";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;padding:10px">THÊM PHIẾU NHẬP MỚI</h2>

<div class="row">
    <div class="col-sm-8">
        <div style="padding-bottom:5px">
            @(Html
                .Grid((IEnumerable<Ingredient>)ViewData["ingres"])
                .Build(columns =>
                {
                    columns.Add(ingre => ingre.Name).Titled("Tên nguyên vật liệu");
                    columns.Add(ingre => ingre.Supplier.Name).Titled("Tên nhà cung cấp");
                    columns.Add(ingre => ingre.UnitPrice).Titled("Đơn giá");
                    columns.Add(ingre => ingre.Unit).Titled("Đơn vị tính");
                    columns.Add(ingre => ingre.IngreID).Encoded(false).RenderedAs(ingre =>
                        "<button data-toggle='modal' data-target='#modalOption' class='btnPreAddToReceipt btn btn-primary' name ='" + ingre.Name + "' ingreid = " + ingre.IngreID + " unitprice = " + ingre.UnitPrice + ">" + "Thêm" + "</button>"
                    ).Filterable(false);
                }).Filterable()

            )
        </div>
        <div>
            @(Html
                .Grid((IEnumerable<Gift>)ViewData["gifts"])
                .Build(columns =>
                {
                    columns.Add(gift => gift.Name).Titled("Tên quà tặng");
                    columns.Add(gift => gift.Supplier.Name).Titled("Tên nhà cung cấp");
                    columns.Add(gift => gift.UnitPrice).Titled("Đơn giá");
                    columns.Add(gift => gift.GiftID).Encoded(false).RenderedAs(gift =>
                        "<button data-toggle='modal' data-target='#modalOption_gift' class='btnPreAddGiftToReceipt btn btn-primary' name ='" + gift.Name + "' giftid = " + gift.GiftID + " unitprice = " + gift.UnitPrice + ">" + "Thêm" + "</button>"
                    ).Filterable(false);
                }).Filterable()
            )
        </div>
    </div>
    <div class="col-sm-4">
        <!-- Modal Ingredient-->
        <div class="modal fade" id="modalOption" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Thông tin nguyên vật liệu</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group IngreID">
                                <label for="IngreID">Mã nguyên vật liệu</label>
                                <input type="number" value="" name="IngreID" readonly class="form-control" />
                            </div>
                            <div class="form-group Name">
                                <label for="Name">Tên nguyên vật liệu</label>
                                <input type="text" name="Name" readonly class="form-control" />
                            </div>
                            <div class="form-group UnitPrice">
                                <label for="UnitPrice">Đơn giá</label>
                                <input type="number" value="" name="UnitPrice" readonly class="form-control" />
                            </div>
                            <div class="form-group Quantity">
                                <label for="Quantity">Số lượng</label>
                                <input type="number" value="" name="Quantity" class="form-control" />
                            </div>
                            <div class="form-group ReferenceDesc">
                                <label for="ReferenceDesc">Ghi chú</label>
                                <input type="text" value="" name="ReferenceDesc" class="form-control" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btnAddToReceipt btn btn-primary">Thêm vào phiếu nhập</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal gift-->
        <div class="modal fade" id="modalOption_gift" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Thông tin quà tặng</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group GiftID">
                                <label for="IngreID">Mã quà tặng</label>
                                <input type="number" value="" name="GiftID" readonly class="form-control" />
                            </div>
                            <div class="form-group Name_gift">
                                <label for="Name">Tên quà tặng</label>
                                <input type="text" name="Name_gift" readonly class="form-control" />
                            </div>
                            <div class="form-group UnitPrice_gift">
                                <label for="UnitPrice">Đơn giá</label>
                                <input type="number" value="" name="UnitPrice_gift" readonly class="form-control" />
                            </div>
                            <div class="form-group Quantity_gift">
                                <label for="Quantity">Số lượng</label>
                                <input type="number" value="" name="Quantity_gift" class="form-control" />
                            </div>
                            <div class="form-group ReferenceDesc_gift">
                                <label for="ReferenceDesc_gift">Ghi chú</label>
                                <input type="text" value="" name="ReferenceDesc_gift" class="form-control" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btnAddGiftToReceipt btn btn-primary">Thêm vào phiếu nhập</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                @Html.DropDownList("SupplierID", (List<SelectListItem>)ViewData["sups"], new { @class= "form-control" })
            </div>
            <table class="list-receiptdetail table">
                <tbody>
                </tbody>
            </table>
            <table class="list-receiptdetail-gift table">
                <tbody></tbody>
            </table>
            <button class="btn btn-primary btnAddReceipt">Tạo phiếu nhập</button>
        </div>
    </div>
</div>

<div style="padding-top:5px">
    @Html.ActionLink("Trở về", "GetAllReceipt", "Warehouse")
</div>
