@using NonFactors.Mvc.Grid
@model IEnumerable<ReceiptDetail>
@{
    ViewBag.Title = "DetailReceipt";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 style="text-align:center">CHI TIẾT PHIẾU NHẬP</h2>
<br />
<div>
    @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.ReceiptID).Titled("Mã phiếu nhập");
                columns.Add(model => model.Ingredient.Name).Titled("Tên NVL");
                columns.Add(model => model.Gift.Name).Titled("Tên quà tặng");
                columns.Add(model => model.Facility.Name).Titled("Tên CSVC");
                columns.Add(model => model.Supplier.Name).Titled("Tên nhà cung cấp");
                columns.Add(model => model.ReferenceDesc).Titled("Ghi chú thêm");
                columns.Add(model => model.Amount).Titled("Số lượng");
                columns.Add(model => model.Unit).Titled("Đơn vị tính");
                columns.Add(model => model.UnitPrice).Titled("Đơn giá");
            }).Filterable()
    )
</div>
<br />
@Html.ActionLink("Trở về", "GetAllReceipt", "Warehouse", new { @class = "btn btn-outline-primary" })
