@model IEnumerable<Ingredient>
@using NonFactors.Mvc.Grid
@{
    ViewBag.Title = "GetAllIngredient";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center; padding:10px;">DANH SÁCH NGUYÊN VẬT LIỆU TRONG KHO</h2>
@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">@TempData["error"]</div>
}

<div class="container-fluid">
    @Html.ActionLink("Thêm", "CreateIngredient", "Warehouse", new { @class = "btn btn-sm btn-primary" })
    <br />
    <div style="padding-top:10px;">
        @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Name).Titled("Tên nguyên vật liệu");
                columns.Add(model => model.Supplier.Name).Titled("Tên nhà cung cấp");
                columns.Add(model => model.Amount).Titled("Số lượng").Filterable(false);
                columns.Add(model => model.Unit).Titled("Đơn vị tính");
                columns.Add(model => model.UnitPrice).Titled("Đơn giá").Filterable(false);
                columns.Add(model => model.Currency).Titled("Đơn vị tiền").Filterable(false);
                columns.Add(model => model.IngreID).Encoded(false).RenderedAs(model => (
                     Html.ActionLink("Sửa", "EditIngredient", "WareHouse", new { IngreID = model.IngreID }, new { @class = "btn btn-sm btn-success" }).ToHtmlString()
                )).Filterable(false);
            })
            .Filterable()
            .Pageable(pager =>
            {
                pager.RowsPerPage = 6;
            })
        )
    </div>
</div>

