@using NonFactors.Mvc.Grid
@model IEnumerable<Receipt>

@{
    ViewBag.Title = "GetAllReceipt";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;padding:10px;">DANH SÁCH PHIẾU NHẬP</h2>

<div style="padding-bottom:10px;">
    @Html.ActionLink("Thêm phiếu nhập", "CreateReceipt", "Warehouse", new { @class = "btn btn-primary" })
</div>

<div >
    @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Date).Titled("Ngày nhập");
                columns.Add(model => model.TotalAmount).Titled("Tổng tiền");
                columns.Add(model => model.Currency).Titled("Đơn vị tiền").Filterable(false);
                columns.Add(model => model.ReceiptID).Encoded(false).
                        RenderedAs(model => (
                         Html.ActionLink("Xem chi tiết", "DetailReceipt", "WareHouse", new { ReceiptID = model.ReceiptID }, new { @class = "btn btn-sm btn-outline-success" }).ToHtmlString()
                        )).Filterable(false);
            }).Filterable().AppendCss("table-hover")
            .Pageable(pager =>
            {
                pager.RowsPerPage = 6;
            })
    )
</div>

