@model IEnumerable<Supplier>
@using NonFactors.Mvc.Grid
@{
    ViewBag.Title = "GetAllSupplier";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@if(TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}
@if(TempData["error"] != null)
{
    <div class="alert alert-danger">@TempData["error"]</div>
}
<h2>GetAllSupplier</h2>
<div class="container-fluid">
    @Html.ActionLink("Thêm", "CreateSupplier", "Warehouse", new { @class = "btn btn-primary" })
    <div class="row">
        @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Name).Titled("Tên nhà cung cấp");
                columns.Add(model => model.Address).Titled("Địa chỉ nhà cung cấp");
                columns.Add(model => model.Phone).Titled("Số điện thoại");
                columns.Add(model => model.SupplierID).Encoded(false).
                    RenderedAs(model => (
                     Html.ActionLink("Sửa", "EditSupplier", "WareHouse", new { SupplierID = model.SupplierID }, new { @class = "btn btn-success" }).ToHtmlString()
                    )).Filterable(false);
            }).Filterable()
        )
    </div>
</div>

