@model IEnumerable<ManagerCoffeeShopASPNet.OrderItem>
@using NonFactors.Mvc.Grid;
@using ManagerCoffeeShopASPNet.Class
@{
    ViewBag.Title = "DetailOrder";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;padding:10px">CHI TIẾT HÓA ĐƠN</h2>

<div>
    @(Html
        .Grid(Model).Build(columns =>
        {
            ConvertStatusOrder m = new ConvertStatusOrder();
            //columns.Add(o => o.OrderID).Titled("Mã hóa đơn").Sortable(false);
            //columns.Add(o => o.Order.Customer.Name).Titled("Tên khách hàng").Sortable(false);
            columns.Add(o => o.Order.PosID).Titled("Vị trí").Sortable(false);
            columns.Add(o => o.Order.OrderDateTime).Titled("Thời gian vào");
            columns.Add(o => o.FoodAndDrink.Name).Titled("Tên đồ uống").Sortable(false);
            columns.Add(o => o.Quantity).Titled("Số lượng").Sortable(false);
            columns.Add(o => o.Desc).Titled("Ghi chú").Sortable(false);
            columns.Add(o => o.Status).Titled("").Css("Status").Sortable(false);
            columns.Add(o =>m.ConvertStatus(o.Status).ToString()).Titled("Trạng thái").Sortable(false);
            columns.Add(o => o.OrderItemID).Encoded(false).RenderedAs(o => (
                Html.ActionLink("Xong", "UpdateReady", "Batender", new { OrderItemID = o.OrderItemID, OrderID = o.OrderID, NumOfOrderItem = Model.Count(), view = "DetailOrder" }, new { @class = "btn btn-sm btn-outline-success Ready" }).ToHtmlString()
                + Html.ActionLink("Hủy", "UpdateCancel", "Batender", new { OrderItemID = o.OrderItemID, OrderID = o.OrderID, NumOfOrderItem = Model.Count(), view = "DetailOrder" }, new { @class = "btn btn-sm btn-outline-danger btnCancel" }).ToHtmlString()
                + Html.ActionLink("Xem công thức pha chế", "ReadRecipe", "Batender", new { FDID = o.FDID }, new { @class = "btn btn-sm btn-outline-info btnReadRecipe" }).ToHtmlString()
            )).Filterable(false);
        })
        .Empty("Không có dữ liệu.")
        .Filterable()
        .Sortable()
        .Pageable(pager =>
        {
            pager.RowsPerPage = 6;
        })
    )
    @{ 
        string DescOrder = Model.FirstOrDefault().Order.Desc;
    }
    <div style="display:none" id="DescOrder" DescOrder="@DescOrder"></div>
</div>
@Html.ActionLink("Trở về", "GetListOrder", "batender")
<style type="text/css">
    .Status {
        display: none;
    }
</style>
<script>
    $(document).ready(function () {
        var DescOrder = $("#DescOrder").attr("DescOrder")
        if (DescOrder == "Delivery") {
            $(".btnCancel").removeAttr("href").attr("class", "btn btn-light btn-sm")
        }
        console.log(DescOrder)
    })
</script>

