@model IEnumerable<ManagerCoffeeShopASPNet.OrderItem>
@using NonFactors.Mvc.Grid

@{
    ViewBag.Title = "GetListOrderItemNeedPreparetion";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>GetListOrderItemNeedPreparetion</h2>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        //columns.Add(o => o.OrderItemID).Titled("OrderItemID");
        //columns.Add(o => o.OrderID).Titled("OrderID");
        columns.Add(o => o.Order.PosID).Titled("PosID");
        columns.Add(o => o.FDID).Titled("FDID");
        columns.Add(o => o.Quantity).Titled("Quantity");
        columns.Add(o => o.Desc).Titled("Desc").Filterable(false);
        columns.Add(o => o.Status).Titled("Status");
        columns.Add(o => o.OrderID).Encoded(false).RenderedAs(o => (
            @Html.ActionLink("Xong", "UpdateReady", "Batender", new { OrderItemID = o.OrderItemID, OrderID = o.OrderID, view = "GetListOrderItemNeedPreparetion", NumOfOrderItem = 0 }, new { @class = "btn btn-success" }).ToHtmlString()
            + @Html.ActionLink("Hủy", "UpdateCancel", "Batender", new { OrderItemID = o.OrderItemID, OrderID = o.OrderID, view = "GetListOrderItemNeedPreparetion", NumOfOrderItem = 0 }, new { @class = "btn btn-danger btnCancel" }).ToHtmlString()
            + @Html.ActionLink("Xem công thức pha chế", "ReadRecipe", "Batender", new { FDID = o.FoodAndDrink.FDID }, new { @class = "btn btn-info btnReadRecipe" }).ToHtmlString()
        )).Filterable(false);
    })
    .WithFilterMode(GridFilterMode.FilterRow)
    .Empty("Data is empty")
    .Filterable()
    .Sortable()
)