@model IEnumerable<ManagerCoffeeShopASPNet.Order>
@using NonFactors.Mvc.Grid;
@using ManagerCoffeeShopASPNet.Class
@{
    ViewBag.Title = "GetListOrder";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    setTimeout(function () {
        location.reload();
    }, 30000);
</script>
<h2 style="text-align:center;padding:10px">DANH SÁCH PHA CHẾ THEO HÓA ĐƠN</h2>

<div>
    @(Html
        .Grid(Model).Build(columns =>
        {
            ConvertStatusOrder m = new ConvertStatusOrder();
            columns.Add(o => o.PosID).Titled("Vị trí");
            //columns.Add(o => o.Customer.Name).Titled("Tên khách hàng");
            columns.Add(o => o.OrderDateTime).Titled("Thời gian vào");
            columns.Add(o =>m.ConvertDesc(o.Desc).ToString()).Titled("Ghi chú");
            columns.Add(o =>m.ConvertStatus(o.Status).ToString()).Titled("Trạng thái").Sortable(false);
            columns.Add(o => o.OrderID).Encoded(false).RenderedAs(o => (
                Html.ActionLink("Xem Chi tiết", "DetailOrder", "Batender", new { OrderID = o.OrderID }, new { @class = "btn btn-sm btn-primary btnDetailOrder" })
            )).Filterable(false);
        })
        .Empty("Không có dữ liệu.")
        .Filterable()
        .Sortable()
        .Pageable(pager =>
        {
            pager.RowsPerPage = 6;
        })
    )
</div>

