@model IEnumerable<ManagerCoffeeShopASPNet.Order>
@using NonFactors.Mvc.Grid;

@{
    ViewBag.Title = "GetListOrder";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>GetListOrder</h2>

<div class="container">
    @(Html
        .Grid(Model).Build(columns =>
        {
            columns.Add(o => o.PosID).Titled("Vị trí");
            columns.Add(o => o.Customer.Name).Titled("Tên khách hàng");
            columns.Add(o => o.OrderDateTime).Titled("Thời gian vào");
            columns.Add(o => o.Desc).Titled("Desc");
            columns.Add(o => o.Status).Titled("Status").Sortable(false);
            columns.Add(o => o.OrderID).Encoded(false).RenderedAs(o => (
            Html.ActionLink("Xem Chi tiết", "DetailOrder", "Batender", new { OrderID = o.OrderID }, new { @class = "btn btn-primary btnDetailOrder" })
            )).Filterable(false);
        })
        .WithFilterMode(GridFilterMode.FilterRow)
        .Empty("Data is empty")
        .Filterable()
        .Sortable()
    )


</div>

