@*@model ManagerCoffeeShopASPNet.CoffeeShop*@
@model IEnumerable<CoffeeShop>
@using NonFactors.Mvc.Grid

@{
    ViewBag.Title = "DetailsCoffeeShop";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 style="text-align:center">THÔNG TIN CHI TIẾT CỦA QUÁN</h2>
<br />
<div>
    @(Html
        .Grid(Model)
        .Build(column =>
        {
            column.Add(m => m.Name).Titled("Name").Sortable(false).Filterable(false);
            column.Add(m => m.Address).Titled("Address").Sortable(false).Filterable(false);
            column.Add(m => m.Phone).Titled("Phone").Sortable(false).Filterable(false);
            column.Add(m => m.LogoImagePath).Titled("Logo ImagePath").Sortable(false).Filterable(false);
            column.Add(m => m.TitleAbout).Titled("Title About").Sortable(false).Filterable(false);
            column.Add(m => m.DescAbout).Titled("Desc About").Sortable(false).Filterable(false);
            column.Add(m => m.TitleContact).Titled("Title Contact").Sortable(false).Filterable(false);
            column.Add(m => m.DescContact).Titled("Desc Contact").Sortable(false).Filterable(false);
            column.Add(m => m.Email).Titled("Email").Sortable(false).Filterable(false);
        })
        .Sortable()
        .Empty("Data is empty")
        .Filterable()
    )
</div>
<br />
<div class="row">
    <div class="col-md-9">
        @Html.ActionLink("Trở về", "GetAllCoffeeShop", "Web")
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Sửa", "EditCoffeeShop", new { CSID = ViewData["CSID"] }, new { @class = "btn btn-sm btn-outline-primary" })
    </div>
</div>
