@model IEnumerable<ManagerCoffeeShopASPNet.CoffeeShop>
@using NonFactors.Mvc.Grid
@{
    ViewBag.Title = "GetAllCoffeeShop";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center; padding:10px;">DANH SÁCH QUÁN COFFEE</h2>

<div style="padding-bottom:10px;">
    @Html.ActionLink("Thêm quán mới", "GetAddNewCoffeeShop", "Web", new { @class="btn btn-sm btn-primary"})
</div>

<div>
    @(Html
        .Grid(Model)
        .Build(column =>
        {
            column.Add(m => m.Name).Titled("Tên quán coffee");
            column.Add(m => m.Address).Titled("Địa chỉ");
            column.Add(m => m.Phone).Titled("Số điện thoại");
            column.Add(m => m.Email).Titled("Email").Filterable(false);
            column.Add(m => m.CSID).Encoded(false).RenderedAs(m => (
                @Html.ActionLink("Sửa", "EditCoffeeShop", new { CSID = m.CSID }, new { @class = "btn btn-sm btn-outline-primary" }).ToHtmlString()
            + " " + @Html.ActionLink("Chi tiết", "DetailsCoffeeShop", new { CSID = m.CSID }, new { @class = "btn btn-sm btn-outline-info" }).ToHtmlString()
            )).Filterable(false).Sortable(false).Titled("Action");
        })
        .Empty("Không có dữ liệu.")
        .Filterable()
        .Pageable(pager =>
        {
            pager.RowsPerPage = 6;
        })
    )
</div>