@*@model ManagerCoffeeShopASPNet.Account*@
@model IEnumerable<Account>
@using NonFactors.Mvc.Grid
@{
    ViewBag.Title = "ViewAccountInformation";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2 style="text-align:center">THÔNG TIN TÀI KHOẢN</h2>

<div>
    <hr />
    @(Html
        .Grid(Model)
        .Build(column =>
        {
        column.Add(m => m.UserName).Titled("UserName");
        column.Add(m => m.Email).Titled("Email");
        column.Add(m => m.AccType).Titled("AccType");
        column.Add(m => m.Position).Titled("Position");
        })
    )
</div>
<br />
<div>
    @Html.ActionLink("Trở lại", "GetAllEmployee")
</div>
