@model IEnumerable<ManagerCoffeeShopASPNet.OrderItem>
@using ManagerCoffeeShopASPNet.Class
@using NonFactors.Mvc.Grid;

@{
    ViewBag.Title = "GetDetailOrder";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center; padding:10px;">CHI TIẾT HÓA ĐƠN</h2>
@{ 
    ConvertStatusOrder m = new ConvertStatusOrder();
}

@(Html
        .Grid(Model).Build(columns =>
        {
            //columns.Add(o => o.OrderID).Titled("Mã hóa đơn").Sortable(false);
            columns.Add(o => o.Order.Customer.Name).Titled("Tên khách hàng").Sortable(false);
            columns.Add(o => o.Order.PosID).Titled("Vị trí").Sortable(false);
            columns.Add(o => o.Order.OrderDateTime).Titled("Thời gian vào");
            columns.Add(o => o.FoodAndDrink.Name).Titled("Tên đồ uống").Sortable(false);
            columns.Add(o => o.Quantity).Titled("Số lượng").Sortable(false);
            columns.Add(o => o.Desc).Titled("Ghi chú").Sortable(false);
            columns.Add(o => o.Status).Titled("Trạng thái").Css("Status").Sortable(false);
            columns.Add(o => m.ConvertStatus(o.Status)).Titled("Trạng thái")/*.Css("Status")*/.Sortable(false).Filterable(false);
            columns.Add(o => o.OrderItemID).Encoded(false).RenderedAs(o => (
                Html.ActionLink("Đã phục vụ", "UpdatedOrderItemClosed", "Service", new { OrderItemID = o.OrderItemID/*, OrderID = o.OrderID, View = "DetailOrderNeedSevice" */}, new { @class = "btn btn-sm btn-primary btnDetailOrder" }).ToHtmlString()
            )).Filterable(false);
        })
        //.WithFilterMode(GridFilterMode.FilterRow)
        .Empty("Không có dữ liệu.")
        .Filterable()
        .Sortable()
        .Pageable(pager =>
        {
            pager.RowsPerPage = 6;
        })

)
<div class="Status">@Model.First().Status</div>
<div>
    @Html.ActionLink("Trở về", "GetListOrderServiceGroupByOrder", "Service")
    @Html.ActionLink("Đã phục vụ", "UpdatedOrderClosed", "Service", new { OrderID = ViewData["OrderID"] }, new { @class = "btn btn-sm btn-primary btnUpdatedOrderClosed btnAll float-right" })
</div>
<style>
    .Status{
        display:none;
    }
</style>
<script>
    $(document).ready(function () {
        $("div.mvc-grid table tbody tr").each(function (index) {
            var tr = $(this)
            var Status = tr.find(".Status").text()
            if (Status != "Ready") { // 
                //tr.find("button").attr("disabled", 1)
                tr.find("a.btnDetailOrder").removeAttr("href").attr("class", "btn btn-light btn-sm")
            }

        })
        //var status = $("div.Status").text()
        //if (status != "Closed") {
        //    $("a.btnAll").removeAttr("href").attr("role", "NotAllow").attr("class", "btn btn-light btn-sm")
        //}
    })
</script>
