@model IEnumerable<ManagerCoffeeShopASPNet.ShipDetail>
@using NonFactors.Mvc.Grid

@{
    ViewBag.Title = "GetAllOrderOnlineNeedConfirm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    setTimeout(function () {
        location.reload();
    }, 30000);
</script>
<h2 style="text-align:center; padding:10px">DANH SÁCH HÓA ĐƠN ONLINE CẦN XÁC NHẬN</h2>
<div>
    @(Html
        .Grid(Model)
        .Build(column =>
        {
            column.Add(m=>m.CustName).Titled("Tên khách hàng");
            column.Add(m => m.Phone).Titled("SĐT liên hệ của khách");
            column.Add(m => m.Address).Titled("Địa chỉ");
            column.Add(m => m.Order.TotalAmount).Titled("Tổng tiền");
            column.Add(m => m.Order.OrderDateTime).Titled("Ngày giờ đặt").Filterable(false);
            column.Add(m => m.OrderID).Encoded(false).RenderedAs(m => (
                @Html.ActionLink("Xem chi tiết", "UpdateStatusOfOrderItemOnline", new { OrderID = m.OrderID }, new { @class = "btn btn-sm btn-outline-success" }).ToHtmlString()
            )).Filterable(false).Sortable(false);
        })
        .Sortable()
        .Empty("Không có dữ liệu.")
        .Filterable()
        .Pageable(pager =>
        {
            pager.RowsPerPage = 6;
        })
    )
</div>