@using NonFactors.Mvc.Grid
@model IEnumerable<Order>
@using ManagerCoffeeShopASPNet.Class
@{
    ViewBag.Title = "GetAllOrder";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center; padding:10px;">DANH SÁCH HÓA ĐƠN</h2>
<div style="padding-bottom:10px;">
    @Html.ActionLink("Xem chi tiết tất cả đơn hàng", "GetAllOrderItem", "Service", new { @class = "btn btn-sm btn-primary" })
</div>
<div>
    @(Html
        .Grid(Model).Build(columns =>
        {
            ConvertStatusOrder convert = new ConvertStatusOrder();
            columns.Add(o => o.OrderID).Titled("Mã hóa đơn").Sortable(false);
            columns.Add(o => o.Customer.Name).Titled("Tên khách hàng").Sortable(false);
            columns.Add(o => o.PosID).Titled("Vị trí").Sortable(false);
            columns.Add(o => o.OrderDateTime).Titled("Thời gian vào");
            columns.Add(o => convert.ConvertStatus(o.Status)).Titled("Trạng thái đơn hàng");
            columns.Add(o => o.Status).Css("Status");
            columns.Add(o => o.OrderID).Encoded(false).RenderedAs(o =>
            Html.ActionLink("Xuất hóa đơn", "PrintOrder", "Service", new { OrderID = o.OrderID }, new { @class = "btn btn-sm btn-primary ", type = "button" })).Filterable(false);
            //columns.Add(o => o.OrderID).Encoded(false).RenderedAs(o => "<button type='button' class='btn btn-sm btn-primary'  "
            //+ "onclick='"+ Url.Action("PrintOrder", "Service", new { OrderID = o.OrderID }) + "'>Xuất hóa đơn</button>").Filterable(false);

        })
        //.WithFilterMode(GridFilterMode.FilterRow)
        .Empty("Không có dữ liệu.")
        .Filterable()
        .Sortable()
        .Pageable(pager =>
        {
            pager.RowsPerPage = 6;
        })
    )
</div>
<style type="text/css">
    .Status{
        display:none;
    }
</style>
<script>
    $(document).ready(function () {
        $("div.mvc-grid table tbody tr").each(function (index) {
            var tr = $(this)
            var Status = tr.find(".Status").text()
            if (Status != "Closed") {
                tr.find("button").attr("disabled", 1)
                tr.find("a").removeAttr("href").attr("class", "btn btn-light btn-sm")
                
            }
        })
        
    })
</script>