@model IEnumerable<ManagerCoffeeShopASPNet.Order>
@using NonFactors.Mvc.Grid
@{
    ViewBag.Title = "GetAllOrderNeedDelivery";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;padding:10px">DANH SÁCH HÓA ĐƠN CẦN GIAO</h2>

<div>
    @(Html
        .Grid(Model)
        .Build(column =>
        {
            column.Add(m => m.CustomerID).Titled("Mã KH").Sortable(false);
            column.Add(m => m.PosID).Titled("Vị trí");
            column.Add(m => m.OrderDateTime).Titled("Ngày giờ đặt");
            column.Add(m => m.PaidDateTime).Titled("Ngày giờ giao").Filterable(false);
            column.Add(m => m.DiscountMoney).Titled("Giảm giá").Filterable(false);
            column.Add(m => m.TotalAmount).Titled("Tổng tiền").Filterable(false);
            column.Add(m => m.Currency).Titled("Đơn vị tiền").Filterable(false);
            column.Add(m => m.Desc).Titled("Ghi chú").Filterable(false);
            column.Add(m => m.Status).Titled("Trạng thái").Filterable(false);
            column.Add(m => m.OrderID).Encoded(false).RenderedAs(m => (
                @Html.ActionLink("Xem Chi tiết", "DetailOrderNeedSevice", "Service", new { OrderID = m.OrderID }, new { @class = "btn btn-sm btn-primary btnDetailOrder" }).ToHtmlString()
                + " " + @Html.ActionLink("Xác nhận giao hàng", "ConfirmDelivery", new { OrderID = m.OrderID }, new { @class = "btn btn-sm btn-outline-success" }).ToHtmlString()
            )).Filterable(false).Sortable(false);
        })
        .Sortable()
        .Empty("Không có dữ liệu.")
        .Filterable()
        .Pageable(pager =>
        {
            pager.RowsPerPage = 6;
        })
    )
</div>
