@model IEnumerable <ManagerCoffeeShopASPNet.Order>
@using NonFactors.Mvc.Grid

@{
    ViewBag.Title = "GetListOrderServiceGroupByOrder";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>GetListOrderService</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@(Html
    .Grid(Model).Build(columns =>
    {

        columns.Add(o => o.CustomerID).Titled("CustomerID").Sortable(false);
        columns.Add(o => o.PosID).Titled("PosID").Sortable(true);
        columns.Add(o => o.OrderDateTime).Titled("OrderDateTime").Sortable(true);
        columns.Add(o => o.DiscountMoney).Titled("DiscountMoney").Sortable(false);
        columns.Add(o => o.TotalAmount).Titled("TotalAmount").Sortable(true);
        columns.Add(o => o.Currency).Titled("Currency").Sortable(false);
        columns.Add(o => o.Desc).Titled("Desc").Sortable(false);
        columns.Add(o => o.Status).Titled("Status").Sortable(false);
        columns.Add(o => o.OrderID).Encoded(false).RenderedAs(o => (
            @Html.ActionLink("Xem Chi tiết", "DetailOrderNeedSevice", "Service", new { OrderID = o.OrderID}, new { @class = "btn btn-primary btnDetailOrder" }).ToHtmlString()
            + @Html.ActionLink("Đã phục vụ", "UpdatedOrderClosed", "Service", new { OrderID = o.OrderID }, new { @class = "btn btn-primary btnUpdatedOrderClosed" }).ToHtmlString()
        ));
    })
    .WithFilterMode(GridFilterMode.FilterRow)
    .Empty("Data is empty")
    .Filterable()
    .Sortable()
)