@model IEnumerable<Promotion>

@using NonFactors.Mvc.Grid

@{
    ViewBag.Title = "GetAllPromotion";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 style="text-align:center; padding-top:10px;padding-bottom:10px;">DANH SÁCH KHUYẾN MÃI</h2>
<div class="row">
    <div class="col-sm-6">@Html.ActionLink("Thêm khuyến mãi", "GetFormAddNewPromotion", "DichVu", new { @class = "btn btn-primary" })</div>
    <div class="col-sm-6">
        @using (Html.BeginForm("DichVu", "GetAllPromotion", FormMethod.Get))
        {
            @Html.TextBox("Search")
            <button type="submit">Tìm kiếm</button>
        }
    </div>
</div>
<hr />
<div>
    
    @(Html
        .Grid(Model)
        .Build(column =>
        {
            column.Add(m => m.Name).Titled("Tên khuyến mãi").Sortable(false);
            column.Add(m => m.StartDate).Titled("Ngày bắt đầu");
            column.Add(m => m.EndDate).Titled("Ngày kết thúc");
            column.Add(m => m.MinOrderTotalAmount).Titled("Số tiền tối thiểu để được khuyến mãi");
            column.Add(m => m.DirectDiscountMoney).Titled("Số tiền được giảm");
            column.Add(m => m.DiscountRate*100).Titled("Phần trăm được giảm trên tổng hóa đơn(%)");
            column.Add(m => m.Desc).Titled("Ghi chú").Filterable(false);
            column.Add(m => m.PromotionID).Encoded(false).RenderedAs(m => (
                @Html.ActionLink("Sửa", "EditPromotion", "DichVu", new { PromotionID = m.PromotionID }, new { @class = "btn btn-sm btn-primary" }).ToHtmlString()
            )).Filterable(false).Sortable(false);
        })
        //.WithFilterMode(GridFilterMode.FilterRow)
        .Sortable()
        .Empty("Không có dữ liệu.")
        .Filterable()
        .Pageable(pager =>
        {
            pager.RowsPerPage = 6;
        })
    )
</div>

